<%- include('partials/head')%>
 <%- include('partials/navbar') %>
 <h1>Home Page</h1>
 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, nam! Ut voluptate, ad nam quisquam, atque accusantium magnam nulla quam quos nostrum, consectetur tempora amet quae! Quam sunt ratione quasi?</p>
  
 <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo repudiandae in quibusdam illum voluptatem sequi. Dolorem quae culpa nisi! Velit ea ipsam impedit repellat? Architecto pariatur tenetur facilis ullam enim! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat delectus expedita voluptate explicabo laudantium, exercitationem quo ex, iusto, temporibus nesciunt magni? Repellat enim rerum quaerat perferendis aliquid labore cupiditate quisquam.
 </p>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores repudiandae porro ullam. Aperiam voluptatibus nisi excepturi voluptatum magnam, nobis nesciunt minus reprehenderit alias quod omnis at, tenetur ipsum libero numquam?</p>
  <%- include('partials/footer') %>
